In [18]:
#import internetarchive as ia
import requests
import json
import numpy as np
import pandas as pd
from io import StringIO

In [19]:
r = requests.get("https://archive.org/services/search/v1/scrape?fields=year&q=collection%3AGratefulDead")

In [20]:
r.headers

{'Server': 'nginx/1.24.0', 'Date': 'Mon, 02 Dec 2024 02:16:52 GMT', 'Content-Type': 'application/json; charset=UTF-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Cache-Control': 'no-cache', 'Access-Control-Allow-Origin': '*', 'Access-Control-Allow-Headers': 'Accept-Encoding,Accept-Language,Authorization,Cache-Control,Content-Length,Content-Range,DNT,Pragma,Range,X-Requested-With', 'Strict-Transport-Security': 'max-age=15724800', 'Onion-Location': 'https://archivep75mbjunhxc6x4j5mwjmomyxb573v42baldlqu56ruil2oiad.onion/services/search/v1/scrape?fields=year&q=collection%3AGratefulDead', 'Referrer-Policy': 'no-referrer-when-downgrade'}

In [21]:
# Convert the response content to a string
r_content_str = r.content.decode('utf-8')

# Wrap the JSON string in StringIO to simulate a file-like object
r_content_io = StringIO(r_content_str)

# Now read the JSON content using StringIO
r_j = pd.read_json(r_content_io)

# Optionally, you can print or inspect the dataframe
print(r_j.head())

                                               items  count  \
0  {'identifier': 'gd1965-11-01.sbd.bershaw.5417....   5000
1  {'identifier': 'gd1966-01-08.sbd.bershaw.5410....   5000
2  {'identifier': 'gd1966-01-08.sbd.lestatkatt.10...   5000
3  {'identifier': 'gd1966-01-29.sbd.berger.99527....   5000
4  {'identifier': 'gd1966-01-29.sbd.bershaw.5411....   5000

                                              cursor  total
0  W3siaWRlbnRpZmllclNvcnRlciI6ImdkMTk4Mi0xMC0xMC...  17515
1  W3siaWRlbnRpZmllclNvcnRlciI6ImdkMTk4Mi0xMC0xMC...  17515
2  W3siaWRlbnRpZmllclNvcnRlciI6ImdkMTk4Mi0xMC0xMC...  17515
3  W3siaWRlbnRpZmllclNvcnRlciI6ImdkMTk4Mi0xMC0xMC...  17515
4  W3siaWRlbnRpZmllclNvcnRlciI6ImdkMTk4Mi0xMC0xMC...  17515

In [22]:
r_j["items"]

0       {'identifier': 'gd1965-11-01.sbd.bershaw.5417....
1       {'identifier': 'gd1966-01-08.sbd.bershaw.5410....
2       {'identifier': 'gd1966-01-08.sbd.lestatkatt.10...
3       {'identifier': 'gd1966-01-29.sbd.berger.99527....
4       {'identifier': 'gd1966-01-29.sbd.bershaw.5411....
                              ...
4995    {'identifier': 'gd1982-10-10.nak700.wagner.mil...
4996    {'identifier': 'gd1982-10-10.sbd.fixed.miller....
4997    {'identifier': 'gd1982-10-10.sbd.fixed.miller....
4998    {'identifier': 'gd1982-10-10.sbd.miller.110626...
4999    {'identifier': 'gd1982-10-10.sbd.miller.110628...
Name: items, Length: 5000, dtype: object

In [23]:
df = pd.json_normalize(r_j['items'])

In [24]:
df

                                           identifier  year
0            gd1965-11-01.sbd.bershaw.5417.sbeok.shnf  1965
1                  gd1966-01-08.sbd.bershaw.5410.shnf  1966
2           gd1966-01-08.sbd.lestatkatt.106505.flac16  1966
3                gd1966-01-29.sbd.berger.99527.flac16  1966
4                  gd1966-01-29.sbd.bershaw.5411.shnf  1966
...                                               ...   ...
4995  gd1982-10-10.nak700.wagner.miller.109823.flac24  1982
4996      gd1982-10-10.sbd.fixed.miller.110783.flac24  1982
4997      gd1982-10-10.sbd.fixed.miller.110784.flac16  1982
4998            gd1982-10-10.sbd.miller.110626.flac16  1982
4999            gd1982-10-10.sbd.miller.110628.flac24  1982

[5000 rows x 2 columns]

In [25]:
r_j['cursor'][0]

'W3siaWRlbnRpZmllclNvcnRlciI6ImdkMTk4Mi0xMC0xMC5zYmQubWlsbGVyLjExMDYyOC5mbGFjMjQifV0='